body{
    padding: 50px;
}
.thumb-image{
    width: 50px;
}
.update-image{
    width: 150px;
}
.button{
    display: inline-block;
}
.nav li{
    display: inline-block;
    margin-right: 10px; /* optional spacing */
}
a{
    text-decoration: none;
    color: black;
}